.footer{
    background-color: #DBF4A7;
    display: flex;
    justify-content: space-evenly;
    a{
        text-decoration: none;
        img{
            width: 100px;
            height: 100px;        
        }
    }
}