header {
    text-align: center;
    background-color: #F3FFB9;
    .loguito{
        text-decoration: none;
        h1 {
            text-align: center;
            color: black;
            font-family: 'Lobster', cursive;
            font-size: 50px;
            padding-bottom: 10px;
            font-weight: bold;
        }
    }
    nav {
        ul {
            list-style: none;
            margin-bottom: 0px;
            padding: 0;
            li {
                display: inline-block;
                a {
                    text-decoration: none;
                    color: rgb(17, 17, 17);
                    font-family: 'Kanit', sans-serif;
                    font-weight: semibold;
                    font-style: italic;
                    font-size: x-large;
                    margin-left: 15px;
                    padding: 0px 10px 0px 10px;
                    background-color: rgba(0, 0, 0, 0.226);
                }
            }
        }
    }

}